/* Header styling */
.title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
    text-transform: uppercase;
  }
  
  nb-actions {
    display: flex;
    align-items: center;
  }
  
  nb-action {
    cursor: pointer;
  }
  
  nb-icon {
    font-size: 24px;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 18px;
    }
  }
  