<nb-layout>
    <nb-layout-column>
      <nb-card class="password-generator-card">
        <nb-card-header>
          <h2>Customize Your Password</h2>
        </nb-card-header>
        <nb-card-body>
          <div class="password-generator-tile">
            <!-- Password Length and Input -->
            <div class="tile-section">
              <label for="length">Password Length:</label>
              <div class="password-length-container">
                <input
                  nbInput
                  type="number"
                  id="length-input"
                  [(ngModel)]="passwordLength"
                  min="4"
                  max="32"
                  (input)="generatePassword()"
                  class="password-length-input-number"
                />
                <input
                  nbInput
                  type="range"
                  id="length-range"
                  [(ngModel)]="passwordLength"
                  min="4"
                  max="32"
                  (input)="generatePassword()"
                  class="password-length-input-range"
                />
              </div>
              <p>Password Length: {{ passwordLength }}</p>
            </div>
  
            <!-- Checkboxes for password options -->
            <div class="tile-section">
              <nb-checkbox [(ngModel)]="includeUppercase" (ngModelChange)="generatePassword()">Uppercase Letters (A-Z)</nb-checkbox>
              <nb-checkbox [(ngModel)]="includeLowercase" (ngModelChange)="generatePassword()">Lowercase Letters (a-z)</nb-checkbox>
              <nb-checkbox [(ngModel)]="includeNumbers" (ngModelChange)="generatePassword()">Numbers (0-9)</nb-checkbox>
              <nb-checkbox [(ngModel)]="includeSymbols" (ngModelChange)="generatePassword()">Symbols (!@#$%^&*)</nb-checkbox>
            </div>
  
            <!-- Display generated password and buttons -->
            <div class="tile-section">
              <div class="generated-password-container">
                <input
                  nbInput
                  type="text"
                  [value]="generatedPassword"
                  readonly
                  class="generated-password"
                />
                <div class="button-group">
                  <button nbButton status="primary" (click)="copyPassword()" class="clipboard-button">
                    <nb-icon icon="clipboard-outline"></nb-icon>
                  </button>
                  <button nbButton status="primary" (click)="generatePassword()" class="reload-button">
                    <nb-icon icon="refresh-outline"></nb-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
  </nb-layout>
